<div class="tx-card" (click)="open()">
	<div class="tx-card__header">
		<h3>Transmissor <{{ transmitter.id }}></h3>
	</div>
	<div class="tx-card__body">
		<div>
			<b>fs:</b>
			<small>{{ transmitter.config.samplingFrequency | frequency }}</small>
		</div>
		<div>
			<b>Duração:</b>
			<small>{{ transmitter.config.duration }} ms</small>
		</div>
		<div>
			<b>Modulação:</b>
			<small>{{ transmitter.config.modulation.modulationMode }}</small>
		</div>
		<div>
			<b>Portadora:</b>
			<small>{{ transmitter.config.modulation.carrierFrequency | frequency }}</small>
		</div>
		<div>
			<b>Índice:</b>
			<small>{{ transmitter.config.modulation.modulationIndex }}</small>
		</div>
	</div>  
</div>
